html{
    scroll-behavior: smooth;
}
body{
    background-color:#fafafa;
}
.navbar{
    position:fixed;
    top: 0;
    z-index:20;
    width:100%;
}
.profile-picture{
    margin-top:10%;
    border-radius:50%;
    width:100%;
    height:auto;
}
.about-picture-1{
    height:auto;
}
.about-picture-2{
    width:100%;
    height:90%; /* picture looks a little stretched out might delete this picture later*/
}
.title{
    margin-top:50%;
    font-family: "Inconsolata", monospace;
}
.sub-title{
    font-family: "Inconsolata", monospace;
    font-size:20px;
}
.about-title{
    text-align:center;
    font-family:"Inconsolata", monospace;
    padding-top:50px;
    margin-top:10%;
}
.about{
    padding-top:10px;
    text-align:center;
    font-family: "Inconsolata", monospace;
}
.projecti, .projectf{
    padding-top:50px;
    margin-top:10%;
    text-align:center;
    font-family: "Inconsolata", monospace;
}
.footer{
    text-align: center; 
    font-family: "Inconsolata", monospace;
    background-color:#4b4b4b; 
    padding-bottom:30%;
}
.footer a{
    text-decoration: none;
}
.footer a:hover{
    color: #ffcf31 !important;
}
.footer h1{
    padding-top:50px;
    margin-top:10%;
    color: white;
    font-size: 30px;
}
.fa-github, .fa-linkedin{
    color:white !important;
}
.name{
    margin:20px;
}
.email{
    margin:20px;
}
.message{
    margin: 20px;
}
.submit{
    margin:20px;
}